<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="../../img/MicrosoftTeams-image-removebg-preview.png" tyle="image/ x-icon">
    <link rel="stylesheet" href="../../CSS/Cadastro/style.css">
    <link rel="stylesheet" href="../../CSS/Cadastro/index.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>

    <script src="js/script.js"></script>
    <script src="js/Cadastro/script.js"></script>

    <!-- ----------------------notificação---------------------------------->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script src="/js/notify.js"></script>
    <link rel="stylesheet" href="/css/notify.css">

    <!-- ----------------------notificação---------------------------------->

    <title>Cadastro</title>
</head>

<body>
    <%
var msgErro = {nome:"", email:"",user:"",nasc:"",cidade:"", senha:"","c-senha":""}
var cssErro = {nome:"",email:"",user:"",nasc:"",cidade:"",senha:"","c-senha":""}
var cssErroBorda = {nome:"",email:"",user:"",nasc:"",cidade:"",senha:"","c-senha":""}
let valorCampos = {nome:"",email:"",user:"",nasc:"",cidade:"",senha:"","c-senha":""}
if(dados && dados!=null){
    valorCampos = dados
}

if(listaErros){
    listaErros.errors.forEach((itemErro)=>{
        if(itemErro.path == "nome"){
            msgErro.nome = itemErro.msg
            cssErro.nome = "erroForm"
            cssErroBorda.nome = "erroInput"
            %>
            <script>notify('Verifique o campo nome', '<%= msgErro.nome %>', 'error')</script>
            <%
        } else if (itemErro.path == "email") {
            msgErro.email = itemErro.msg
            cssErro.email = "erroForm"
            cssErroBorda.email = "erroInput"
            %>
            <script>notify('Verifique o campo email', '<%= msgErro.email %>', 'error')</script>
            <%
        } else if(itemErro.path == "user"){
            msgErro.user = itemErro.msg
            cssErro.user = "erroForm"
            cssErroBorda.user = "erroInput"
            %>
            <script>notify('Verifique o campo Nome de usuário', '<%= msgErro.user %>', 'error')</script>
            <%
        } else if (itemErro.path == "nasc") {
            msgErro.nasc = itemErro.msg
            cssErro.nasc = "erroForm"
            cssErroBorda.nasc = "erroInput"
            %>
            <script>notify('Verifique o campo data de nascimento', '<%= msgErro.nasc %>', 'error')</script>
            <%
        } else if (itemErro.path == "cidade") {
            msgErro.nasc = itemErro.msg
            cssErro.nasc = "erroForm"
            cssErroBorda.nasc = "erroInput"
            %>
            <script>notify('Verifique o campo cidade', '<%= msgErro.nasc %>', 'error')</script>
            <%
        }else if(itemErro.path == "senha"){
                msgErro.senha = itemErro.msg
                cssErro.senha = "erroForm"
                cssErroBorda.senha = "erroInput"
                %>
                    <script>notify('Verifique o campo senha', '<%= msgErro.senha %>', 'error'  )</script>
                <%
                
            } else if(itemErro.path == "c-senha"){
                msgErro["c-senha"] = itemErro.msg
                cssErro["c-senha"] = "erroForm"
                cssErroBorda["c-senha"] = "erroInput"
                %>
                    <script>notify('Verifique se as senhas estão iguais', '<%= msgErro["c-senha"] %>', 'error'  )</script>
                <%
                
            }
    });
}
%>

    <main>
        <section class="box-form">
            <form action="cadastro" method="post" id="form">
                <section class="form-content">
                    <h3 class="titulo">Olá seja bem vindo!</h3>
                    <p class="sub-titulo">Estamos muito animados em ter você aqui!</p>
                    <section class="figura-logo">
                        <article class="logo-container">
                            <a href="/">
                                <img src="../../img/LOGO2.png">
                            </a>
                        </article>
                    </section>
                    <br class="register-link">
                    Já tem uma conta?<a href="/login">Entre</a>
                    <br>Você é uma empresa?
                    <a href="/cadastro/cnpj">Cadastre-se</a></br>
                    </p>
                    <!-- ---------------------------------------nome------------------------------------------------->
                    <br><label id="nome" for="data">Nome <span>*</span> </label>
                    <input type="text" name="nome" id="nome" placeholder="Seu nome" value="<%=valorCampos.nome%>"
                        class="<%= cssErroBorda.nome %>" maxlength="100" autocomplete="off">
                    <span class="<%= cssErro.nome %>">
                        <%= msgErro.nome %>
                    </span>
                    <!-- ---------------------------------------nome------------------------------------------------------>

                    <!-- ---------------------------------------email----------------------------------------------------->
                    <br><label id="email" for="data">Email <span>*</span> </label>
                    <input type="text" name="email" id="email" class="<%= cssErroBorda.email %>"
                        placeholder="Seu e-mail" value="<%=valorCampos.email%>">
                    <span class="<%= cssErro.email %>">
                        <%= msgErro.email %>
                    </span>
                    <!-- ---------------------------------------email----------------------------------------------------->
                    <!-- ---------------------------------------nomeUsuário----------------------------------------------->
                    <br><label id="user" for="data">Nome de usuário <span>*</span> </label>
                    <input type="text" name="user" id="user" placeholder="Nome de usuário" value="<%=valorCampos.user%>"
                        class="<%= cssErroBorda.user %>" maxlength="100" autocomplete="off">
                    <span class="<%= cssErro.user %>">
                        <%= msgErro.user %>
                    </span>
                    <!-- ---------------------------------------nomeUsuário------------------------------------------------>
                    <!-- ---------------------------------------DataDeNasc------------------------------------------------->
                    <article class="form-input">
                        <label id="labelData" for="data">Data de nascimento <span>*</span> </label>
                        <input type="text" placeholder="__/__/____" id="nasc" class="<%= cssErroBorda.nasc %>" maxlength="10" name="nasc">
                        <span class="<%= cssErro.nasc %>">
                            <%= msgErro.nasc %>
                        </span>
                    </article>
                    <!-- ---------------------------------------DataDeNasc------------------------------------------------->
                    <!-- ---------------------------------------cidade----------------------------------------------------->
                        <label id="labelCidade" for="cidade">Cidade <span>*</span> </label>
                        <input type="text" list="lista"  placeholder="cidade " value="<%= valorCampos.cidade %>" id="cidade" name="cidade">
                        <datalist id="lista">
                        </datalist> 
                    <!-- ---------------------------------------cidade----------------------------------------------------->
                    <!-- ---------------------------------------passoword-------------------------------------------------->
                   
                    <article class="input__wrapper">
                            <img alt="Eye Icon" title="Eye Icon" src="/img/Login/eye-off.svg" class="input__icon">
                            <label id="labelSenha" for="senha">Senha <span>*</span></label>
                            <input type="password" placeholder="Senha" value="<%= valorCampos.senha %>" id="senha"  maxlength="30" name="senha" class="<%= cssErroBorda.senha %>">
                            <span class="<%= cssErro.senha %>"><%= msgErro.senha %></span><br>
                            <small id="textPassword"></small>
                        </article>
                        <article class="input__wrapper">
                            <img alt="Eye Icon" title="Eye Icon" src="/img/Login/eye-off.svg" class="input__icon">
                            <label id="Labelc-senha" for="c-senha">Confirme a senha <span>*</span></label>
                            <input type="password" placeholder="Confirme sua senha" value="<%= valorCampos['c-senha'] %>" id="c-senha" maxlength="30" name="c-senha" class="<%= cssErroBorda['c-senha'] %>">
                            <span class="<%= cssErro['c-senha'] %>"><%= msgErro['c-senha'] %></span><br>
                        </article>
                    <!-- ---------------------------------------passoword-------------------------------------------------->
                    <input type="submit" value="Entrar" id="Entrar">
            </form>
        </section>
        </form>
    </main>
    <footer></footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/js/Cadastro/senha.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.7/inputmask.min.js"></script>

</body>
</html>