<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SaneaMais</title>
    <!--iconscout cdn-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="shortcut icon" href="../../../img/MicrosoftTeams-image-removebg-preview.png" tyle="image/ x-icon">

    <!--stylesheet-->

    <link rel="stylesheet" href="../../../CSS/Publicacao/NovoPerfil/style.css">
    <link rel="stylesheet" href="../../../CSS/Publicacao/NovoPerfil/publicar.css">


    <!-- --------------------------------------notificação----------------------------------------------------------------- -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script src="/js/notify.js"></script>
    <link rel="stylesheet" href="/css/notify.css">

    <!-- -------------------------------------------------------------------------------------------------------------- -->

</head>

<body>

    <% if (dadosNotificacao) { %>
        <script>
            notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "center")
            if("<%= dadosNotificacao.tipo %>" == "success"){
                setTimeout(3000)
            }                        
        </script>
    <% } %>

    <nav>
        <section class="container">
            <h2 class="log">
                <img src="../../../img/NovoPerfil/LOGO1.png" alt="Logo" />
            </h2>
            <article class="search-bar">
                <i class="uil-search"></i>
                <input type="search" placeholder="O que deseja procurar?">
            </article>
            <section class="action">
                <article class="profile" onclick="menuToggle();">
                    <img src="../../../img/NovoPerfil/profile-3.png" alt="">
                </article>
                <section class="menu">
                    <h3>
                        Ellie Williams
                        <div>
                            @lastofus
                        </div>
                    </h3>
                    <ul>
                        <li>
                            <span class="material-icons icons-size">person</span>
                            <a href="/PublicacaoPERFIL">Meu perfil</a>
                        </li>
                        <li>
                            <span class="material-icons icons-size">mode</span>
                            <a href="/PublicacacaoCONFIG">Editar perfil</a>
                        </li>
                        <li>
                            <span class="material-icons icons-size">account_balance_wallet</span>
                            <a href="/">Sair</a>
                        </li>
                    </ul>
                </section>
            </section>
        </section>
    </nav>
    

    <!-------main------------>
    <main>
        <section class="container">
            <!-----------LEFT------------------------->
            <section class="left">
                <a class="profile">
                    <article class="profile-photo">
                        <img src="../../../img/NovoPerfil/profile-2.png">

                    </article>
                    <article class="handle">
                        <h4>Ellie Williams</h4>
                        <p class="text-muted">
                            @lastofus
                        </p>
                    </article>

                </a>
                <!----------icones do lado------>
                <section class="sidebar">
                    <a class="menu-item active">
                        <span><i class="uil uil-home"></i></span>
                        <h3>Home</h3>
                    </a>
                    <a href="/PublicacaoPERFIL" class="menu-item active">
                        <span><i class="uil uil-user-circle"></i></span>
                        <h3>Perfil</h3>
                    </a>
                    <a href="/PublicacacaoCONFIG" class="menu-item active">
                        <span><i class="uil uil-setting"></i></span>
                        <h3>Configurações</h3>
                    </a>
             </section>
            
       

                <!------------------ FINAL SIDEBAR-------------------------->
                <button class="open-modal">Denunciar</button>
         </section>
            <!------------------ END OF LEFT-------------------------->
            
          
          <div class="publicacoes-area">
            <h2 class="feed-title">Feed</h2>
                        <% 
                        if(dados){
                          dados.forEach(function(postagem){
                                  if(postagem.img_posts == null){
                                      postagem.img_posts = "img/logo1.png"
                                  }else{
                                      postagem.img_posts = "data:image/jpeg;base64,"+ postagem.img_posts.toString('base64') 
                                  }
                                  if(postagem.foto_usuario == null){
                                      postagem.foto_usuario = "img/config/foto.png"
                                  }else{
                                      postagem.foto_usuario = "data:image/jpeg;base64,"+ postagem.foto_usuario.toString('base64') 
                                  }
                              %>
                           
                              <div class="post-container">
                                  <div class="post-header">
                                      <img src="<%= postagem.foto_usuario %>"" alt="Foto de Perfil" class="post-img">
                                      <div class="post-user-details">
                                          <span class="post-user-name"><%= postagem.nome_usuario %></span>
                                          <span class="post-user-handle"><%= postagem.user_usuario %></span>
                                          <span class="post-endereco"><%= postagem.endereco_posts %></span>
                                      </div>
                                  </div>
                                  <p><%= postagem.comentarios_posts %></p>
                                  <img src="<%= postagem.img_posts %>"  alt="Imagem da publicação" class="post-img-publicacao">
                                   <div class="post-actions">
                                          <a href="#" class="comment-btn"><i class="far fa-comment"></i></a>
                                         <a href="#" class="like-btn"><i class="far fa-heart"></i></a>
                                          
                                      </div>
                              </div>
                       
                              <% 
                          })
                        }
              %>
          </div>  

            <form action="/publicacao" method="post" enctype="multipart/form-data">
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <div>
                            <button class="close">Fechar</button>
                            <button class="next" id="nextBtn">Próximo</button>
                        </div>
            
                        <div class="ContainerPublic">
                            <p>Clique no botão abaixo para escolher uma imagem:</p>
                            <button class="select-image-btn" onclick="document.getElementById('imageInput').click();">Escolher
                                Imagem</button>
                            <input type="file" id="imageInput" name="imageInput" accept="image/*">
            
                            <div class="image-preview-area">
                                <img id="imagePreview" class="image-preview" src="" alt="Pré-visualização da imagem">
                            </div>
            
                            <button class="concluido-btn">Concluído</button>
                        </div>
                    </div>
                </div>
            
                <div id="myModalContinua" class="modal-continua">
                    <div class="modal-continua-content">
                        <button class="back-btn" id="backBtn">Voltar</button>
                        <button class="publish-btn" id="publishBtn">Publicar</button><br>
                        <div>
                            <div class="image-preview-area image-spacing">
                                <img id="imagePreviewContinua" class="image-preview" src="" alt="Imagem selecionada">
                            </div>
                            <div class="form-publicacao">
                                <p>Descrição do ocorrido</p>
                                <textarea id="descricao" rows="4" placeholder="Descrição" name="comentarios_posts" required></textarea> 
                                <div class="error-message" id="descricaoError" style="display: none;">Campo obrigatório</div>

                                <input type="text" id="endereco" placeholder="Endereço" name="endereco_posts" required> <!-- Mudei aqui -->
                    <div class="error-message" id="enderecoError" style="display: none;">Campo obrigatório</div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- Modal de Confirmação para voltar -->
                <div id="confirmModal" class="confirm-modal">
                    <div class="confirm-modal-content">
                        <p>Tem certeza que deseja voltar?</p>
                        <button class="confirm-btn" id="confirmBack">Sim</button>
                        <button class="cancel-btn" id="cancelBack">Não</button>
                    </div>
                </div>
            
                <!-- Modal de Carregamento -->
                <div id="loadingModal" class="loading-modal">
                    <div class="loading-content">
                        Publicando sua postagem... Aguarde
                        <div class="loader"></div>
                    </div>
                </div>
            </form>
                <script>
                    var modal = document.getElementById("myModal");
                    var modalContinua = document.getElementById("myModalContinua");
                    var confirmModal = document.getElementById("confirmModal");
                    var loadingModal = document.getElementById("loadingModal");
                    var openBtn = document.querySelector(".open-modal");
                    var closeBtn = document.querySelector(".close");
                    var nextBtn = document.getElementById("nextBtn");
                    var imageInput = document.getElementById("imageInput");
                    var imagePreview = document.getElementById("imagePreview");
                    var imagePreviewContinua = document.getElementById("imagePreviewContinua");
                    var concluidoBtn = document.querySelector(".concluido-btn");
                    var backBtn = document.getElementById("backBtn");
                    var confirmBack = document.getElementById("confirmBack");
                    var cancelBack = document.getElementById("cancelBack");
                    var publishBtn = document.getElementById("publishBtn");
                    var descricao = document.getElementById("descricao");
                    var endereco = document.getElementById("endereco");
                    var descricaoError = document.getElementById("descricaoError");
                    var enderecoError = document.getElementById("enderecoError");
                    var publicacoesArea = document.getElementById("publicacoesArea");
            
                    function disableNextButton() {
                        nextBtn.classList.remove("active");
                        nextBtn.style.backgroundColor = "black";
                        nextBtn.style.cursor = "not-allowed";
                    }
            
                    openBtn.onclick = function () {
                        modal.style.display = "flex";
                        disableNextButton();
                    }
            
                    closeBtn.onclick = function () {
                        modal.style.display = "none";
                        resetModals(); // Reseta os modais ao fechar
                    }
            
                    imageInput.onchange = function (event) {
                        var file = event.target.files[0];
                        if (file) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                imagePreview.src = e.target.result;
                                imagePreviewContinua.src = e.target.result;
                                imagePreview.style.display = "block";
                                imagePreviewContinua.style.display = "block";
                                concluidoBtn.style.display = "inline-block";
                                concluidoBtn.style.backgroundColor = "#28a745";
                                concluidoBtn.disabled = false;
                                concluidoBtn.classList.remove("disabled");
                                disableNextButton();
                                concluidoBtn.style.cursor = "pointer";
                            }
                            reader.readAsDataURL(file);
                        }
                    }
            
                    concluidoBtn.onclick = function () {
                        nextBtn.classList.add("active");
                        nextBtn.style.cursor = "pointer";
                        nextBtn.style.backgroundColor = "green";
                        concluidoBtn.style.backgroundColor = "black";
                        concluidoBtn.disabled = true;
                        concluidoBtn.classList.add("disabled");
                        concluidoBtn.style.cursor = "not-allowed";
                    }
            
                    nextBtn.onclick = function () {
                        if (nextBtn.classList.contains("active")) {
                            modal.style.display = "none";
                            modalContinua.style.display = "flex";
                        }
                    }
            
                    publishBtn.onclick = function () {
                        var isValid = true;
            
                        descricao.classList.remove("error");
                        endereco.classList.remove("error");
                        descricaoError.style.display = "none";
                        enderecoError.style.display = "none";
            
                        if (descricao.value.trim() === "") {
                            descricao.classList.add("error");
                            descricaoError.style.display = "block";
                            isValid = false;
                        }
            
                        if (endereco.value.trim() === "") {
                            endereco.classList.add("error");
                            enderecoError.style.display = "block";
                            isValid = false;
                        }
            
                        if (isValid) {
                            loadingModal.style.display = "flex"; // Exibe o modal de carregamento
            
                            setTimeout(function () {
                                addPublicacao(imagePreviewContinua.src, descricao.value, endereco.value);
                                loadingModal.style.display = "none"; // Esconde o modal de carregamento
                                modalContinua.style.display = "none"; // Fecha o modal de continuação
                                resetModals(); // Reseta os modais após publicar
                            },6000); // Simula um delay de 6 segundos
                        }
                    }
            
                    // Inserir nova publicação no topo da lista
                    function addPublicacao(imagem, descricao, endereco) {
                        var publicacaoDiv = document.createElement("div");
                        publicacaoDiv.classList.add("publicacao");
            
  

            
                        publicacoesArea.insertBefore(publicacaoDiv, publicacoesArea.firstChild); // Insere no topo
                    }
            
                    backBtn.onclick = function () {
                        confirmModal.style.display = "flex";
                    }
            
                    confirmBack.onclick = function () {
                        modalContinua.style.display = "none";
                        modal.style.display = "flex";
                        confirmModal.style.display = "none";
                    }
            
                    cancelBack.onclick = function () {
                        confirmModal.style.display = "none";
                    }
            
                    function resetModals() {
                        // Limpar campos do primeiro modal
                        imageInput.value = ""; // Limpa o input de imagem
                        imagePreview.src = ""; // Limpa a pré-visualização
                        imagePreview.style.display = "none"; // Esconde a imagem
                        concluidoBtn.style.display = "none"; // Esconde o botão "Concluído"
                        concluidoBtn.classList.remove("disabled"); // Remove a classe de desabilitado
                        concluidoBtn.style.cursor = "pointer"; // Reseta o cursor
                        nextBtn.classList.remove("active"); // Remove a classe do botão "Próximo"
                        nextBtn.style.backgroundColor = "black"; // Reseta a cor do botão "Próximo"
                        nextBtn.style.cursor = "not-allowed"; // Reseta o cursor do botão "Próximo"
            
                        // Limpar campos do segundo modal
                        descricao.value = ""; // Limpa o textarea
                        endereco.value = ""; // Limpa o input de endereço
                        imagePreviewContinua.src = ""; // Limpa a pré-visualização no segundo modal
                        imagePreviewContinua.style.display = "none"; // Esconde a imagem no segundo modal
                    }
                </script>
            
            </body>

    <script src="../../../js/Publicação/publicacao/index.js"></script>


</body>

</html>