<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo.css">
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <link rel="stylesheet" href="../../CSS/esqueceusenha/novasenha.css">
    <script src="../../js/esqueceusenha/senha.js"></script>
    <link rel="shortcut icon" href="../../img/MicrosoftTeams-image-removebg-preview.png" tyle="image/ x-icon">


</head>

<body>
    <main>
        <% 
            let avisoErro = {"senha":"","c_senha":""}
            let msgErro = ""
            if (listaErros && listaErros.errors && listaErros.errors.length > 0) {  // Verifica se listaErros é definida
                listaErros.errors.forEach(function(itemErro) {
                    if (itemErro.path == "senha") {
                        avisoErro.senha = "erro";
                        msgErro += `* ${itemErro.msg} <br>`;
                    }
                    if (itemErro.path == "c_senha") {  // Nome corrigido
                        avisoErro.c_senha = "erro";  // Nome corrigido
                        msgErro += `* ${itemErro.msg} <br>`;
                    }
                });
                if (msgErro != "") {
                    %>
                        <script>
                            let msgErro = "<%= msgErro %>";
                            notify("Erro(s) no preenchimento", 
                                   "Verifique o(s) campo(s) <br> " + msgErro.replace(/&lt;/g, "<").replace(/&gt;/g, ">"), 
                                   "error", "center", 5000);
                        </script>
                    <%
                }
            }
            if (dadosNotificacao) { %>
                <script>
                    notify("<%= dadosNotificacao.titulo %>", "<%= dadosNotificacao.mensagem %>", "<%= dadosNotificacao.tipo %>", "center");
                    if ("<%= dadosNotificacao.tipo %>" == "success") {
                        setTimeout(function() { window.location = "/" }, 3000);
                    }
                </script>
            <% } %>              
            <div class="login-page">
                <div class="form-cadastro">
                    <h2 class="titulo">Recupere sua conta!</h2>
                    <p class="instructions">Por favor, insira sua nova senha abaixo </p>
                    <section class="figura-logo">
                        <article class="logo-container">
                            <a href="../../index.html">
                                <img src="../../img/LOGO2.png">
                            </a>
                        </article>
                    </section>
                    <form action="/resetar-senha" method="post">
                        <input type="hidden" name="id_usuario" value="<%= id_usuario %>">
                        <section class="form-input">
                            <article class="input__wrapper">
                                <img alt="Eye Icon" title="Eye Icon" src="../../img/Login/eye-off.svg" class="input__icon">
                        <input type="password" name="senha" placeholder="Nova senha" value=""
                            class="<%= avisoErro.senha %>" /><br>
                        <input type="password" name="c-senha" placeholder="Repita a senha" value=""
                            class="<%= avisoErro.c_senha %>" /><br> <!-- Nome corrigido -->
                        <button type="submit"onclick="resetarSenha()">Entrar</button><br>
                    </form>
                </div>
            </div>
    </main>

</body>

</html>
