<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" /> -->

  <!-- <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script> -->
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="../../../img/MicrosoftTeams-image-removebg-preview.png" tyle="image/ x-icon">
  <script src="js/Config/scripts.js"></script>
  <title>Configurações da Conta</title>
  <link rel="stylesheet" href="../../../CSS/Publicacao/Config/style.css">
   <link rel="stylesheet" href="/CSS/notify.css">
</head>
<body>

  <%

let msgErro = ""
let avisoErro = {"nome":"", "user":"", "imagem":"", "bio":""}
if(listaErros){
    listaErros.errors.forEach(function(itemErro){
        if(itemErro.path == "nome_usuario"){
            avisoErro.nome_usuario = "erro";
            msgErro += `* ${itemErro.msg} <br>`;
        }
        if(itemErro.path == "user_usuario"){
            avisoErro.user_usuario = "erro";
            msgErro += `* ${itemErro.msg} <br>`;
        }
        if(itemErro.path == "imagem"){
            avisoErro.imagem = "erro";
            msgErro += `* ${itemErro.msg} <br>`;
        }
        if(itemErro.path == "bio"){
          avisoErro.bio = "erro";
          msgErro += `* ${itemErro.msg} <br>`;
      }
      
    })
    if(msgErro != ""){
        %>
            <script>
                let msgErro ="<%= msgErro %>"
                notify("Erro no preenchimento",
                "Verifique o(s) campo(s): <br>" + msgErro.replace(/&lt;/g,"<").replace(/&gt;/g,">"), 
                "error", "center",5000)                        
            </script>
            <%

    }
}
if (dadosNotificacao) { 
    %>
    <script>
            notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "right")
           
    </script>
<% } %>


   <header class="header">
    <div class="container">
        <img src="../../../img/NovoPerfil/LOGO1.png">
    
        <div class="user-actions">
            <a href="/Publicacao"><i class="fas fa-home"></i></a>
            <a href="/PublicacaoPERFIL"><i class="fa fa-user-circle" ></i></a>
            <a href="/PublicacaoDOACAO"><i class="uil uil-setting"></i></a>
            <a href="/"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>
    
</header>

  <div class="profile-container">
    <h2>Configurações da Conta</h2>
    <form action="/PublicacacaoCONFIG" method="POST" enctype="multipart/form-data">
       
      <div class="form-group">
        <label>Alterar imagem</label>
        <div class="profile-image-wrapper">
          <img src="<%= valores.foto_usuario %>" onclick="document.getElementById('profileImage').click()" alt="Imagem de perfil" id="currentProfileImage" class="profile-image">
         <!-- Input oculto para escolher nova imagem -->
         <div class="overlay" id="changeImageOverlay">
         <input type="file" accept="image/*" class="<%= avisoErro.imagem %>" name="profileImage" id="profileImage" onchange="loadImg(event)">
            <span>Trocar Foto</span>
          </div>
        </div>
      </div>

      <!-- Alterar Nome Completo -->
      <div class="form-group">
        <label for="fullName">Nome Completo</label>
        <input type="text" id="nome_usuario" name="nome" placeholder="Digite seu nome"  value="<%= valores.nome_usuario %>" class="<%= avisoErro.nome_usuario %>" required>
      </div>

      <!-- Alterar Nome de Usuário -->
      <div class="form-group">
        <label for="username">Nome de Usuário</label>
        <input type="text" id="user_usuario" name="user" placeholder="Digite seu usuário" value="<%= valores.user_usuario %>" class="<%= avisoErro.user_usuario %>" required>
      </div>

      <!-- Senha Atual -->
      <div class="form-group">
        <label for="currentPassword">Senha</label>
        <input type="password" id="senha_usuario" name="senha" placeholder="Senha" >
        <span class="aviso">*Não preencha este campo para manter a senha atual</span>
      </div>

      <!-- Alterar Bio -->
      <div class="form-group">
        <label for="bio">Bio</label>
          <!-- <textarea id="bio" name="bio" rows="4" placeholder="Escreva sua bio aqui..." value="" class=""></textarea> -->
          <textarea id="bio" name="bio" rows="4" placeholder="Escreva sua bio aqui..." class="<%= avisoErro.bio %>"><%= valores.bio %></textarea>
      </div>

      <input type="submit" class="enviar" value="Alterar dados" />
    </form>
  </div>

  <script>
    const profileImageInput = document.getElementById('profileImage');
    const currentProfileImage = document.getElementById('currentProfileImage');

    profileImageInput.addEventListener('change', function(event) {
      const file = event.target.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
          currentProfileImage.src = e.target.result;
        };
        reader.readAsDataURL(file);
      }
    });
  </script>

<!-- <script src="js/Config/scripts.js"></script> -->
</main>
</body>
</html>
