<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link rel="stylesheet" href="../../CSS/login/index.css">
  <link rel="stylesheet" href="../../CSS/login/style.css">
  <link rel="shortcut icon" href="../../img/MicrosoftTeams-image-removebg-preview.png" tyle="image/ x-icon">

  
  <link rel="stylesheet" href="/CSS/notify.css">

  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
      <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
      <script src="/js/notify.js"></script>
      <link rel="stylesheet" href="/css/notify.css">

  
  <title>Login</title>
</head>
<body>
  <main>
    <% 
    var msgErro = {email:"", senha:""}
    var cssErro = {email:"", senha:""}
    var cssErroBorda = {email:"", senha:""}
    let valorCampos = {email:"", senha:""}

    if(dados && dados!=null){
        valorCampos = dados
    }

    if(listaErros){
        listaErros.errors.forEach((itemErro)=>{
           if(itemErro.path == "email"){
                msgErro.email = itemErro.msg
                cssErro.email = "erroForm"
                cssErroBorda.email = "erroInput"
                %>
                <script>notify('Verifique o campo email', '<%= msgErro.email %>', 'error'  )</script>
            <%
                
            } else if(itemErro.path == "senha"){
                msgErro.senha = itemErro.msg
                cssErro.senha = "erroForm"
                cssErroBorda.senha = "erroInput"
                %>
                <script>notify('Verifique o campo senha', '<%= msgErro.senha %>', 'error'  )</script>
            <%
              
            }
        });
    } 
   
%>
    <form action="/login" method="post" id="form">
      <section class="box-form">
        <article class="form-content">
          <h3 class="titulo">Olá seja bem vindo!</h3>
          <p class="sub-titulo">Estamos muito animados em ter você aqui!</p>
          <article id="msgError"></article>


            <label id="labelEmail" for="email">E-mail <span>*</span> </label>
            <input type="email" name="email" id="email" placeholder = "Seu e-mail" value="<%=valorCampos.email%>"  class="<%= cssErroBorda.email %>">
            <span class="<%= cssErro.email %>"><%= msgErro.email %></span>


          
            <article class="input__wrapper">
              <img alt="Eye Icon" title="Eye Icon" src="/img/Login/eye-off.svg" class="input__icon">
              <label id="labelSenha" for="senha">Senha <span>*</span></label>
              <input type="password" placeholder="Senha" value="<%= valorCampos.senha %>" id="senha"  maxlength="30" name="senha" class="<%= cssErroBorda.senha %>">
              <span class="<%= cssErro.senha %>"><%= msgErro.senha %></span><br>
              <small id="textPassword"></small>
            </article>
          


          <article class="forget-password-link">
            <a href="/esqueceusenha/email">Esqueceu sua senha?</a>
          </article>
          <input type="submit" value="Entrar" id="Entrar">
          <!-- <article class="alternative1">
            <span>ou</span>
          </article> -->
          <!-- <article class="media">
            <a href="#" class="icon">
              <img src="../../img/Login/icons8-google-logo.svg">
            </a>
            <a href="#" class="icon">
              <img src="../../img/Login/icons8-linkedin.svg">
            </a>
            <a href="#" class="icon">
              <img src="../../img/Login/icons8-facebook-novo.svg">
            </a>
          </article> -->
        </article>
        <article class="container-img">
          <article class="logo">
            <a href="/">
              <img src="../../img/LOGO2.png">
            </a>
          </article>
          <article class="form-figura">
            <img src="../../img/Login/figuralogin.png">
          </article>
        </article>
    </form>
  </main>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/js/login/senha.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.7/inputmask.min.js"></script>
  <script src="/js/notify.js"></script>

</body>

</html>